@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary: #007fff;
  --secondary: #d7e0eb;
}

body {
  font-family: 'Open Sans', sans-serif;
}


/* Navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}



.nav-item .nav-link:hover {
  color: var(--primary) !important;
}

.search {
  width: 100%;
  margin-bottom: auto;
  height: 50px;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 80px;

}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  font-weight: 300;
  color: black;
  background-color: var(--secondary);
  transition: width 0.4s linear;
}


.search-icon {
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  bottom: 30px;
  position: relative;
}

.search-icon:hover {
  color: var(--primary) !important;
}

.cart-icon {
  width: 30px;
  height: 30px;
  transition: all 0.2s;
}

.cart-icon:hover {
  transform: scale(1.25);
}

.login {
  border-right: 1 px solid var(--secondary);
}

.login a {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.login-icon {
  width: 100%;
  padding: 5px;
  color: var(--primary);
  border: solid 2px var(--primary);
  border-radius: 50%;
}

/* style banner */

.banner {
  background: url(../img/banner-min.svg)no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}


.banner .container {
  color: var(--primary);
  font-weight: 700;
}

.banner-fill {
  margin-top: 10rem;
}

.banner .container h1 {
  font-size: 7rem;
  font-weight: 700;
}

.banner .container .font-shadow {
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 10);
}


.banner .container .btn {
  margin-top: 30px;
  margin-left: 10px;
  height: 65px;
  width: 35%;
  font-size: 18px;
  font-weight: 400;
  border-radius: 80px;
  transition: all 0.2s;
}

.banner .container .btn1 {
  border: none;
  outline: none;
  background-color: var(--primary);
  color: #fff;
  font-weight: 400;
  border-radius: 60px;
}

.container .btn1:hover {
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
  font-size: 20px;
}

.banner .container .btn2 {
  border: 4px solid var(--primary);
  background-color: #fff;
  color: var(--primary);

}

.container .btn2:hover {
  border: 1px solid var(--primary);
  background-color: var(--secondary);
  font-size: 20px;
}

.address {
  width: 90%;
  height: 90px;
  background-color: #fff;
  padding: 15px;
  border-radius: 80px;
}

.address-icon {
  width: 5%;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 60px;
}

.map-icon {
  width: 100%;
  height: 60px;
  color: #000;
}

.address-input {
  width: 70%;
  height: auto;
  border: none;
  font-size: 26px;
  font-weight: 300;
  color: black;
  background-color: #fff;
}

.address-input:focus {
  outline: none;
  box-shadow: none;
}

.add-btn {
  width: 20%;
  height: auto;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: #fff;
  border-radius: 60px;
}

.add-btn:hover {
  border: 1px solid var(--primary);
  background-color: #d7e0eb;
  color: var(--primary);
}

.social-media-side {
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  margin-top: -700px;
  background-color: var(--primary);
}

.social-media-side ul {
  display: flex;
  gap: 20px;
  padding: 30px 10px;
}

.social-media-side ul li {
  background-color: #fff;
  padding: 4px;
  border-radius: 50%;
  border: none;

}

.sm-icon {
  width: 30px;
  height: 30px;
  color: var(--primary);

}

.social-media-side ul li:hover {
  transform: scale(1.2, 1.2);

}

.social-media-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sm-item {
  padding-right: 16px;
}

section.category {
  padding-top: 60px;
  padding-bottom: 100px;

}

.category .card {
  border: none;
  transition: all 0.3s;
}

.category .card-body a {
  color: #000;
  text-decoration: none;
}


.category .cat-img {
  width: 150px;
  height: 150px;
  border: none;
  background-color: var(--secondary);
  border-radius: 50%;

}

.category .card:hover {
  transform: scale(1.15);
}

section.product {
  background-color: var(--secondary);
}

.product .card-img-top {
  width: 100%;
  height: 300px;
  border-radius: 50px;
  padding: 20px;
}

.product .card {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.product .card-body {
  padding: 25px;
  margin-top: -15px;
}

.product .btn-primary {
  border-radius: 50px;
  width: 120px;
}

.product .btn-primary:hover {
  background-color: black;
  border: none;
}

.product h3,
h5 {
  color: rgb(0, 91, 228);
}

section.about p {
  text-align: justify;
}

.about-img {
  width: 100%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
}

.about-img2 {
  width: 180%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
}

.blog .card {
  text-align: justify;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.blog .card-body {
  padding: 25px;
  margin-top: -15px;
}

.blog .card-img-top {
  height: 300px;
  border-radius: 50px;
  padding: 20px;
}

.blog .card {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.blog .card-body {
  padding: 25px;
  margin-top: -15px;
}

footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 2px;
}

footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--pink) !important;
}



@media (max-width: 480px) {
  .banner {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .banner .container {
    padding: 25px 0 0 0;

  }

  .banner .container h1 {
    font-size: 4rem;
    font-weight: 700;
  }

  .address {
    width: 80%;
  }

  .address-input {
    font-size: 18px;
  }

  .add-btn {
    width: 100px;
  }

  .category .container .row {
    height: 220px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 100px;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-bottom: 1px solid #000;
  }

  .category .cat {
    width: 100px;
    height: 200px;

  }

  .category .card {
    width: 200px;
  }

  .category .cat-img {
    width: 120px;
    height: 120px;
    border: none;
    background-color: var(--secondary);
    border-radius: 50%;

  }


}